@charset "utf-8";
/* CSS Document */
.HeaderPage{ width:995px; margin:0 auto; height:135px;}
	.HeaderPage div{ }
		.Headerlogo{ text-align:center; width:49%; display:inline-block; float:left;  padding-top:4px; }
			.Headerlogo img{ border:none}
			.Headerlogo a {border:none;}
		.DHeaerUserLib {text-align:left; width:25%; padding-top:45px; display:inline-block; float:left}
		.DHeaderStat {text-align:right !important; width:26%; display:inline-block; float:left;  }
			.DHeaderStatValue{ text-align:left; float:right; border:2px solid #808080; background:#FFF; padding:4px 6px 7px 7px; width:150px;  border-bottom:none; }
				.div_table_stat_site{ width:100%; font-size:11px;}
				/*.DHeaderTel { margin:10px 0 10px 0; font-size:20px; padding:0px 0 2px 0}
					.DHeaderTel span{ font-size:14px;}
				.DHeaderStatValue p{ padding:0; margin:0; line-height:16px;} */
				.DHeaderTel { margin:1px 0 0 0; padding-left:88px; }
				.DHeaderTel .icon { height:20px; float:left; margin:0 10px 0 0;  }
				.DHeaderTel .i-city { margin:0 15px 0 0;}
				.DHeaderTel .code { font-size:11px; float:left; margin:2px 3px 0 0; }
				.DHeaderTel .tel { float:left; font-weight:bold; }
				
				.DivTopHeaderMenuSearch { margin:2px 0 6px 0; }
					#search_top_field { width:100px; border:1px solid #A5A5A5; padding-left:5px; }
					#search_top_submit { background: url("images/ui-bg_highlight-hard_50_ebb923_1x100.png") repeat-x scroll 50% 50% transparent; color:#FFF; cursor:pointer; border: none; padding:1px 5px}	
					#divPointerCode { padding:4px 0 0 90px;}
					#divPointerCode span { cursor:pointer; background:#FFF; display:block; padding:0px 5px; border:1px solid #A5A5A5; float:left; margin:0 3px 0 0  }
					#divPointerCode span:hover { background:#ebb923; color:#FFF}
					
	
.HeaderMenu{width:995px; margin:0px auto 0 auto; text-align:center; background: #808080; padding:5px 0 5px 0;}
	.HeaderMenu a{ display:inline-block; font-size:14px; text-align:center; text-decoration:none; color:#FFF; margin-right:3px; margin:0 1px; padding:2px 1%; vertical-align:bottom; cursor:pointer;}
	
	.HeaderMenu a:hover{ text-decoration:underline!important;}
	.HeaderMenu a img{border:none} 
	.MenuTopActive{text-decoration:underline!important}

		#TUserEnterLogin {width:150px ; border:1px solid #A5A5A5; height:16px; margin-bottom:0px !important; padding:2px 0 3px 3px !important;}
		#TUserEnterPass {width:150px ; border:1px solid #A5A5A5; height:16px; margin-bottom:0px !important; padding:2px 0 3px 3px !important;}
		.HeaderUserEnter span { display:inline-block; font-weight:normal; padding-left:0 !important; position:relative; margin-top:-30px !important; vertical-align:top;}
		.errOutputEnter{position:absolute; margin-top:0; margin-bottom:10px; margin-left:180px; color:#F00; font-weight:normal; text-align:left;}
			.errOutputEnter br {height:0}
		.LinkRegUser{display:inline-block; width:auto; background:none!important; padding:1px 0 0 0!important; height:20px!important; color:#3a7bee!important; text-decoration:underline !important; font-weight: normal!important}
		#EnterSubmit{ margin-top:0 !important; background: url("images/ui-bg_highlight-hard_50_ebb923_1x100.png") repeat-x scroll 50% 50%;  width:80px!important;  height:20px; padding:0 0 4px 6px !important;}
		
		.DivCatMenu { width:995px; margin:15px auto 0 auto;background:#e5e5e5;}
			.SpanCatMenuImSea {margin-right:10px; font-size:14px; font-weight: normal} 
			#ImMenu { padding:5px 5px 5px 10px; border-bottom:none;}
			
			.ALinkSendOrder, .ALinkAddImIndex { float:right;
			background:url("images/ui-bg_highlight-hard_50_ebb923_1x100.png") repeat-x scroll 50% 50% transparent;
			cursor:pointer;
			display:inline-block;
			overflow:visible;
			color:#FFF;
			padding:3px 10px 4px 25px;
			position:relative;
			text-align:center;
			text-decoration:none !important; margin-bottom:2px}
			.ALinkSendOrder, .ALinkAddImIndex:hover { color:#FFF!important;}
			.ALinkAddImIndex span { margin-left:-20px; margin-top:1px; position:absolute; height:16px; width:21px; background:url(../files/images/bg/s_AddImALinkBg.png) left center no-repeat;
			width:92px;
			}
			.ALinkSendOrder span{ margin-left:-20px; margin-top:1px; position:absolute; height:16px; width:21px; background:url(../files/images/bg/s_SendOrderLinkBg.png) left center no-repeat;
			width:90px;/*        */
			}
			.ALinkAddImIndex { margin-right:5px;}
			
				.DivCatMenuLinkImages {margin-top:1px; height: 119px; max-height:119px; overflow:hidden; }
				.DivCatMenuLinkImages a {display:inline-block !important; width:198px; text-align: left; float:left;}
				.DivCatMenuLinkImages a img { border:none;  width: 199px!important; height: 119px!important;} /* for firefox 199*/
			
				.DivCatMenuLink a {display:inline-block !important; width:20%; text-align: left; float:left;}
				
				#FlatAlink{ background: url("../files/images/bg/cat/4.jpg") bottom right no-repeat; text-decoration:none; font-weight:bold; color: #FFF;
				padding:5px 0 5px 5px; width:194px;}
				#CommercialAlink{ background:url(../files/images/bg/cat/5.jpg) bottom right no-repeat; text-decoration:none; font-weight:bold; color: #FFF;
				padding:5px 0 5px 5px;width:194px;}
				#HomeAlink{ background:url(../files/images/bg/cat/1.jpg) bottom right no-repeat; text-decoration:none; font-weight:bold; color: #FFF;
				padding:5px 0 5px 5px;width:194px;}
				#BuildingsAlink{ background:url(../files/images/bg/cat/3.jpg) bottom right no-repeat; text-decoration:none; font-weight:bold; color: #FFF;
				padding:5px 0 5px 5px;width:194px;}
				#LandAlink {background:url(../files/images/bg/cat/2.jpg) bottom right no-repeat; text-decoration:none; font-weight:bold; color: #FFF;
				padding:5px 0 5px 5px;width:194px;}