@charset "windows-1251";
/* CSS Document */
.index_im_link { float: left; margin-right: 20px;}

.DivImFooterText { margin:30px 0 20px 0}

.ImFormLinkType{ margin:5px 0 15px 0}
.ImFormLinkType a { display:inline-block;  border: 1px solid #dddddd; background: #eeecec url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_highlight-soft_100_eeecec_1x100.png) 50% top repeat-x; color: #333333;cursor:pointer; overflow:visible; padding:0; position:relative; text-align:center; text-decoration:none !important; padding:3px 10px; margin-left:5px;}
.ImFormLinkType a:hover {border: 1px solid #ebb923; background:url("http://img.alfabrok.loc/files/images/bg/jq/ui-bg_highlight-hard_50_ebb923_1x100.png") repeat-x scroll 50% 50% transparent;  color: #FFF!important;}
	.AlinkActive { border: 1px solid #ebb923!important;  background:url("http://img.alfabrok.loc/files/images/bg/jq/ui-bg_highlight-hard_50_ebb923_1x100.png") repeat-x scroll 50% 50% transparent !important;  color: #FFF!important;}
	.SpanImFromLityType { margin-right:145px;}
.ImFormLinkType label { padding:0 0 0 5px}	

.list_Flat_table_block{ width:100%; border-bottom:1px solid #e5e5e5; font-size:11px;}
	.list_Flat_table_block td{ border-left:1px solid #e4e4e4; border-bottom:1px solid #f3f3f3; padding:5px}
		.TdListLeftBorder{border-left:1px solid #e5e5e5!important;}
		.TdListRightBorder{border-right:1px solid #e5e5e5!important;}
			.TdListRightBorder img { border:1px solid #B8B9BB; padding:2px; }
		.TdListLeftAlight{text-align:left !important}
			.TdListLeftAlight p {margin:0 0 0 0}
		.price-center { text-align:center;}
		.ImPropTable{margin:5px 0;}
		.TdTextCenter{ text-align:center}
		
	.list_Flat_table_block_header{ background: #e5e5e5}
		.list_Flat_table_block_header td { text-align:center; }
		.TdRightBorder{  background:url(http://img.alfabrok.loc/files/images/bg/td-r-border.jpg) top right no-repeat }
		.TdLeftBorder{background:url(http://img.alfabrok.loc/files/images/bg/td-l-border.jpg) top left no-repeat; border-left:none!important; }
		.list_Flat_table_block_header td {border:1px solid #e5e5e5; border-left:1px solid #FEFEFE; border-right:none;  border-top:none; padding:5px 3px 5px 6px!important}
		.TdLisImImage{ width:145px;}
		.TdLisImImageMap{ width:145px;}
		.ListTableImIndexImg img{border:1px solid #b8b9bb; padding:2px; max-width: 200px; }
		.ImFListHeaderM2 { min-width: 55px;}
		
		.AReadMore {}
		.ImSpanPrice{ display:block; background:url(http://img.alfabrok.loc/files/images/bg/cena.png) center center no-repeat; text-align:center; font-weight:bold; padding-top:3px ; padding-bottom:3px; min-width:90px;}
		.ImSpanPriceOld{ display:block; text-decoration: line-through}
		
		.DivPaging { text-align:center; margin:10px 0 0 0;}
		.TopDivPaging { margin:15px 0; }
			.DivPaging a{ display:inline-block;  border: 1px solid #dddddd; background: #eeecec url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_highlight-soft_100_eeecec_1x100.png) 50% top repeat-x; color: #333333;cursor:pointer; overflow:visible; padding:0; position:relative; text-align:center; text-decoration:none !important; padding:3px 10px; margin-left:5px;}
			.DivPaging a:hover {border: 1px solid #d5d5d5; background: #e6e6e6 url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_glass_100_e6e6e6_1x400.png) 50% 50% repeat-x;  color: #333333;}
		
		
	.ImSpanPriceUSA { display:block;margin-top:5px;padding-top:2px;padding-bottom:2px;background-color:#DDDDDD!important;font-weight:bold;}
/*********************************************/
.DivImOneTitle { margin:0 0 10px 0}
	.DivImOneTitle a { display:inline-block;  border: 1px solid #dddddd; background: #eeecec url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_highlight-soft_100_eeecec_1x100.png) 50% top repeat-x; color: #333333;cursor:pointer; overflow:visible; padding:0; position:relative; text-align:center; text-decoration:none !important; padding:3px 10px 3px 25px; position:relative;
text-decoration:none;}
	.DivImOneTitle a span {position:absolute; margin-left:-20px}
	.DivImOneTitle a:hover {border: 1px solid #d5d5d5; background: #e6e6e6 url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_glass_100_e6e6e6_1x400.png) 50% 50% repeat-x;  color: #333333;}
.DivImOne { border:1px solid #cdcdcd; padding:10px;}
	.DivTitleImOneSpan {margin-left:20px; font-size:14px; }
	.TableOneImmovableHeder {width:100%;}
		.TOIItdPhotoIndex { width:200px;}
		.TOIItdIminfo { padding-left:10px;}
			.DivImTableAdressName { padding:5px; background:#F2F2F2}
			.ImTableAdressName { }
				.ImTableAdressTdlang { padding: 0 15px 0 0;}
				.some-width { min-width:60px!important;}
					.im_adress_id {font-size:16px;}
			.ImTablePrice { margin-top:10px;}
				.ImSpanPriceOne { display:block; font-size:26px; color:#c9a72b; margin-right:10px;}
				.ImSpanPriceOne .price-arrow-down { }
				.ImSpanPriceOne:hover .exchange-rate-block { display:block; }
				.ImSpanPriceOne .exchange-rate-block { display:none; margin:-5px 0 0 -20px; width:155px; height:120px; padding:20px 0 0 15px; position:absolute; background: url(http://img.alfabrok.loc/files/images/bg/exchange-rate-block.png) 0 0 no-repeat; }
				.ImSpanPriceOne .exchange-rate-block h4 { font-size:12px; margin:0 0 7px 0; font-weight:normal; color:#333333; }
				.ImSpanPriceOne .exchange-rate-block p { font-size:12px; margin:0 0 4px 0; font-weight:normal; color:#333333; }
				.ImSpanPriceOne .exchange-rate-block p span.val { font-size:12px; color:#C9A72B; font-weight:bold; }
				.ImSpanPriceOldOne { display:block; text-decoration: line-through; margin-right:10px;}
				.im-other-price { color:#c9a72b; margin:10px 0; font-size:18px; font-weight:normal; }
					.im-other-price span { color:#333333; font-weight:normal; font-size:12px; } 
				.im-other-price:hover .exchange-rate-block { display:block; }
				.im-other-price .exchange-rate-block { display:none; margin:-5px 0 0 -20px; width:155px; height:120px; padding:20px 0 0 15px; position:absolute; background: url(http://img.alfabrok.loc/files/images/bg/exchange-rate-block.png) 0 0 no-repeat; }
				.im-other-price .exchange-rate-block h4 { font-size:12px; margin:0 0 7px 0; font-weight:normal; color:#333333; }
				.im-other-price .exchange-rate-block p { font-size:12px; margin:0 0 4px 0; font-weight:normal; color:#333333; }
				.im-other-price .exchange-rate-block p span.val { font-size:12px; color:#C9A72B; font-weight:bold; }	
				
		.TOIItdPropStandart {}
			.TOIITablePropStandartListTr { margin-left:10px;}
			.TOIITablePropStandartListTr td {padding-left:5px;}
				.TrBgColor {background: #f2f2f2}
		.TOIItdPhotos { max-width: 220px !important; width:220px;}
			.highslide-gallery {max-width: 220px; height: 200px; overflow: auto; }
		.TOIItdFunctional{ width:50px}
			.TOIItdFunctional a img{ border:none; margin-left: 15px; }
			.TOIItdFunctional span {display:inline-block; width: 70px; text-align:center}
			#submitPDF img {margin-top: 5px;}
	.TableOneImmovableInfo {width:100%; margin-top:10px; border-top:1px solid #cdcdcd}
		.TOIItdText { width:40%; padding-top:10px}
			.ImSummaryHeader{ margin:0 0 10px 0; font-size:14px;}
			#DivSummaryLang {}
				#DivSummaryLang a {  display:inline-block;  border: 1px solid #dddddd; background: #eeecec url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_highlight-soft_100_eeecec_1x100.png) 50% top repeat-x; color: #333333;cursor:pointer; margin-right:0.1em; overflow:visible; padding:0; position:relative; text-align:center; text-decoration:none !important; padding:3px 10px;}
				#DivSummaryLang a.AlinkNoSelected {  background: #eeecec url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_highlight-soft_100_eeecec_1x100.png) 50% top repeat-x}
				#DivSummaryLang a.AlinkNoSelected:hover { border: 1px solid #d5d5d5; background: #e6e6e6 url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_glass_100_e6e6e6_1x400.png) 50% 50% repeat-x;  color: #333333;  }
				#DivSummaryLang a.AlinkSelected {  border: 1px solid #d5d5d5; background: #e6e6e6 url(http://img.alfabrok.loc/files/images/bg/jq/ui-bg_glass_100_e6e6e6_1x400.png) 50% 50% repeat-x;  color: #333333; }
			.DivSummaryTextId {}
		.TOIItdProp {padding-top:10px}
			.TablePropAdvased { border-left:1px solid #f9f0e9; border-bottom:1px solid #f9f0e9}
				.TablePropAdvasedTdImg {border-right:1px solid #f9f0e9; border-top:1px solid #f9f0e9; padding:3px!important; width:50px; min-height:50px!important;}
				.TablePropAdvasedTdText {border-right:1px solid #f9f0e9; border-top:1px solid #f9f0e9; vertical-align: inherit !important; padding:0 5px!important;}
	.TableOneImmovableMapVideo {width:100%;}
		.TOIMVtdMap {padding-top:10px;}
		.TOIMVtdVideo { width:410px; padding-left:10px;  padding-top:10px;}
			#accordionVideo { width:400px; }
				#accordionVideo h3 a { display:inline-block; width:145px; }
				#accordionVideo .ui-accordion-content{ min-height:300px;}
				#accordionVideo img { margin:0 20px 20px 0; width: 145px;}
				#accordionVideo  div {text-align: left}

.DivImSimilar { margin-top:10px;}		

.DivImTablePrice { color:#C9A72B; display:block; font-size:26px; margin-right:10px; margin-top:10px; }
	.DivImTablePrice .price-arrow-down { }
	.DivImTablePrice:hover .exchange-rate-block { display:block; }
	.DivImTablePrice .exchange-rate-block { display:none; margin:-5px 0 0 -20px; width:155px; height:120px; padding:20px 0 0 15px; position:absolute; background: url(http://img.alfabrok.loc/files/images/bg/exchange-rate-block.png) 0 0 no-repeat; }
	.DivImTablePrice .exchange-rate-block h4 { font-size:12px; margin:0 0 7px 0; font-weight:normal; color:#333333; }
	.DivImTablePrice .exchange-rate-block p { font-size:12px; margin:0 0 4px 0; font-weight:normal; color:#333333; }
	.DivImTablePrice .exchange-rate-block p span.val { font-size:12px; color:#C9A72B; font-weight:bold; }
				
.im_id { font-weight:bold}
.im_code { font-weight:bold}	

/*	YMAP FULL SCREEN	*/
#showFullOneMap { padding: 2px 3px 3px 3px;  text-decoration: none; border:1px solid #FFF; background:#808080; color:#FFF; margin:5px 0 10px; display:block; width:100%; font-size:13px; width:494px; cursor:pointer }
#showFullOneMap:hover { border:1px solid #808080}
	#showFullOneMap span { display:block; height: 16px; width: 16px; position: relative;  background-position: -16px -80px; float:left; background-image: url(http://img.alfabrok.loc/files/images/bg/jq/ui-icons_ffffff_256x240.png); overflow: hidden; text-indent: -99999px; margin:2px 3px -1px 0;}
#hideFullOneMap  { float:right; display:block; margin:5px 25px 0 0; display:none; color:#3A7BEE; text-decoration:underline; cursor:pointer; }
#hideFullOneMap:hover { text-decoration:none; color:#EDD923;}
#divYScreen {}
.mapOneFull { top: 30px; margin:0 20px 20px;}
.mapOneFullPanorama { margin-top:58px!important; margin-left:125px!important   } 


.SearchImmovablesCodes{ margin-bottom:10px;  }
.SearchImmovablesCodes span {background-color:#F7F7F7;margin-right:3px;padding-left:2px;padding-right:2px;-moz-border-radius:2px;border-radius:2px;}
.SearchImmovablesCodes a {text-decoration: none;margin-left:2px;color:#EFBE31;}